@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --primary: #308a99;
        --secondary: #57b2b5;
        --gray: #666d80;
        --dark: #2a2f67;
    }
}

* {
    scrollbar-color: #b4b4b4 #f1f1f1;
    scrollbar-width: thin;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Mulish", sans-serif;
}
